<div id="modal-sucursal" class="modal">
    <div class="modal-content">
        <div class="modal-body">
            <div *ngFor="let s of sucursal">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-1 flex-justify-align-center">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                         value="{{s.id}}" (change)="selectSucursal(s.id)">
                                </div>
                            </div>
                            <div class="col-lg-3 flex-justify-align-center">
                                <img [src]="s.image_url" class="image-sucursal">
                            </div>
                            <div class="col-lg-8">
                                <h5 class="title-sucursal" for="">{{s.name}}</h5>
                                <h5 class="subtitle-sucursal">{{s.tagline}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-lg-3 mx-auto">
                <button type="button" class="btn btn-primary btn-block" (click)="addSucursalStorage()"> Guardar</button>
            </div>
        </div>
    </div>
</div>
<app-navbar-shared></app-navbar-shared>
<router-outlet></router-outlet>
<app-footer-shared>