<!-- Subheader Start -->
<div class="subheader dark-overlay dark-overlay-2" style="background-image: url('assets/img/especificos/crepeduo.png')">
    <div class="container">
      <div class="subheader-inner">
        <h1>Sucursales</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sucursales</li>
          </ol>
        </nav>
      </div>

    </div>
  </div>
  <!-- Subheader End -->

  <!-- Locations Wrapper Start -->
  <div class="section">

    <div class="container locations-wrapper">

      <div class="location-item">
        <div class="row">
          <div class="col-md-6">
            <div class="location-item-inner">
              <img src="assets/img/especificos/belaundesede.png" alt="location">
              <div class="location-desc">
                <h3>ICONICO Belaunde</h3>
                <p>Comas</p>
              </div>
              <div class="location-info">
                <div class="row">
                  <div class="col-6">
                    <span>ICÓNICO Belaunde</span>
                    <span>Av. Belaunde Oeste </span>
                    <span>Nro. 800 - Comas</span>
                  </div>
                  <div class="col-6">
                    <span> Llamanos: <a href="tel:(257)563-7401">(+51) 992656965</a> </span>
                    <span> Coreo: <a href="mailto:info@slices.com">neiragilmer@gmail.com</a> </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="ct-contact-map-wrapper">
              <div id="map1" data-lat="-11.935678" data-lng="-77.054808" class="ct-contact-map map" leaflet
              [leafletOptions]="options"
              [leafletLayersControl]="layersControl"></div>
              <a href="https://maps.google.com/?q=-11.935678,-77.054808" target="_blank" class="btn-custom shadow-none">Ver en mapas</a>
            </div>
          </div>
        </div>
      </div>

      <div class="location-item">
        <div class="row">
          <div class="col-md-6">
            <div class="location-item-inner">
              <img src="assets/img/especificos/confraternidadsede.png" alt="location">
              <div class="location-desc">
                <h3>ICÓNICO CONFRATERNIDAD</h3>
                <p>Los Olivos</p>
              </div>
              <div class="location-info">
                <div class="row">
                  <div class="col-6">
                    <span>ICONICO CONFRATERNIDAD</span>
                    <span>Av. Confraternidad </span>
                    <span>485 Los Olivos</span>
                  </div>
                  <div class="col-6">
                    <span>Llamanos: <a href="tel:(372)587-2335">(+51) 923002803</a> </span>
                    <span> Email : <a href="mailto:info@slices.com">neirasthefany@gmail.com</a> </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="ct-contact-map-wrapper">
              <div id="map2" data-lat="38.319976" data-lng="-77.432370" class="ct-contact-map map" leaflet
              [leafletOptions]="options"
              [leafletLayersControl]="layersControl"></div>
              <a href="https://maps.google.com/?q=38.319976,-77.432370" target="_blank" class="btn-custom shadow-none">Ver en Mapas</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>