<!-- Banner Start -->
<div class="banner banner-1 bg-cover">

  <div class="imgs-wrapper">
    <img src="assets/img/especificos/hojas.png" alt="veg" class="d-none d-lg-block">
  </div>

  <div class="banner-slider">

    <div class="banner-item">
      <div class="banner-inner">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
              <h1 class="title">Milkshakes</h1>
              <h4>Deliciosa bebida a base de helado</h4>
              <p class="subtitle">
                Perzonalizalo como más te guste.
              </p>

              <div class="banner-controls">
                <a href="#" class="btn-custom primary">Ver carta <i class="flaticon-shopping-bag"></i> </a>
                <h4>S/ 13.00</h4>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6">
              <img src="assets/img/prods/400x400/milshakenutella.png" alt="pizza">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--
      <div class="banner-item">
        <div class="banner-inner">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-xl-6 col-lg-6">
                <h1 class="title">Wilderness Bless</h1>
                <h4>Ham & Cheese With Vegetables</h4>
                <p class="subtitle">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                </p>
                <div class="banner-icons-wrapper">
                  <div class="banner-icon">
                    <i class="flaticon-calories"></i>
                    <div class="banner-icon-body">
                      <h5>800g</h5>
                      <span>Calories</span>
                    </div>
                  </div>
                  <div class="banner-icon">
                    <i class="flaticon-cheese"></i>
                    <div class="banner-icon-body">
                      <h5>300g</h5>
                      <span>Mozarella</span>
                    </div>
                  </div>
                </div>
                <div class="banner-controls">
                  <a href="#" class="btn-custom primary">Order <i class="flaticon-shopping-bag"></i> </a>
                  <h4>$17.99</h4>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6">
                <img src="assets/img/prods/5.png" alt="pizza">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="banner-item">
        <div class="banner-inner">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-xl-6 col-lg-6">
                <h1 class="title">Green Delight</h1>
                <h4>Vegetarian Pizza With Thin Crust</h4>
                <p class="subtitle">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                </p>
                <div class="banner-icons-wrapper">
                  <div class="banner-icon">
                    <i class="flaticon-calories"></i>
                    <div class="banner-icon-body">
                      <h5>230</h5>
                      <span>Calories</span>
                    </div>
                  </div>
                  <div class="banner-icon">
                    <i class="flaticon-cheese"></i>
                    <div class="banner-icon-body">
                      <h5>100g</h5>
                      <span>Mozarella</span>
                    </div>
                  </div>
                </div>
                <div class="banner-controls">
                  <a href="#" class="btn-custom primary">Order <i class="flaticon-shopping-bag"></i> </a>
                  <h4>$6.99</h4>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6">
                <img src="assets/img/prods/2.png" alt="pizza">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="banner-item">
        <div class="banner-inner">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-xl-6 col-lg-6">
                <h1 class="title">Feeling Cheesy</h1>
                <h4>Pepperoni Pizza With Four Cheeses</h4>
                <p class="subtitle">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                </p>
                <div class="banner-icons-wrapper">
                  <div class="banner-icon">
                    <i class="flaticon-calories"></i>
                    <div class="banner-icon-body">
                      <h5>650</h5>
                      <span>Calories</span>
                    </div>
                  </div>
                  <div class="banner-icon">
                    <i class="flaticon-cheese"></i>
                    <div class="banner-icon-body">
                      <h5>200g</h5>
                      <span>Mozarella</span>
                    </div>
                  </div>
                </div>
                <div class="banner-controls">
                  <a href="#" class="btn-custom primary">Order <i class="flaticon-shopping-bag"></i> </a>
                  <h4>$12.99</h4>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6">
                <img src="assets/img/prods/1.png" alt="pizza">
              </div>
            </div>
          </div>
        </div>
      </div>
    -->

  </div>

  <div class="banner-slider-nav">
    <div class="container">

      <!-- Arrow -->
      <i class="slider-prev fas fa-arrow-left slick-arrow"></i>

      <div class="banner-slider-nav-inner">

        <div class="banner-nav-item">
          <div class="banner-nav-item-inner">
            <img src="assets/img/prods/400x400/milshakenutella.png" alt="Milkshake">
            <div class="banner-nav-item-body">
              <h5>Milkshakes</h5>
              <span>S/ 13.00</span>
            </div>
          </div>
        </div>

        <div class="banner-nav-item">
          <div class="banner-nav-item-inner">
            <img src="assets/img/prods/5.png" alt="pizza">
            <div class="banner-nav-item-body">
              <h5>Ham & Cheese</h5>
              <span>$17.99</span>
            </div>
          </div>
        </div>

        <div class="banner-nav-item">
          <div class="banner-nav-item-inner on-sale">
            <div class="sale">
              <div class="sale-inner">
                Offer
              </div>
            </div>
            <img src="assets/img/prods/2.png" alt="pizza">
            <div class="banner-nav-item-body">
              <h5>Vegetarian</h5>
              <span>$9.99</span>
              <span>$6.99</span>
            </div>
          </div>
        </div>

        <div class="banner-nav-item">
          <div class="banner-nav-item-inner">
            <img src="assets/img/prods/1.png" alt="pizza">
            <div class="banner-nav-item-body">
              <h5>Pepperoni</h5>
              <span>$12.99</span>
            </div>
          </div>
        </div>

      </div>

      <!-- Arrow -->
      <i class="slider-next fas fa-arrow-right slick-arrow"></i>

    </div>
  </div>


</div>
<!-- Banner End -->


<!-- About us start -->
<div class="section">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg-6 mb-lg-30 ct-single-img-wrapper">
        <img src="assets/img/especificos/nosotros.jpg" alt="img">
        <div class="ct-dots"></div>
      </div>
      <div class="col-lg-6">
        <div class="section-title-wrap mr-lg-30">
          <h5 class="custom-primary">ICONICO - Heladería - Crepería</h5>
          <h2 class="title">10 años a tú lado</h2>
          <p class="subtitle">
            Encuentra tus helados favoritos y crepes, personalizalos con lo que más te guste, solo en ICONICO.
            Pidelo para delivery, recojo en tienda o consumo en local en cualquiera de nuestras sucursales.
          </p>
          <p class="subtitle">
            Más de 10 años preparando los mejores Helados y dulces calientes.
          </p>
          <div class="signature">
            <img src="assets/img/especificos/firma_iconico.png" alt="signature">
          </div>
          <a routerLink='/menu-v1' class="btn-custom">Revisa nuestra Carta</a>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- About us End -->

<!-- Infographics Start -->
<div class="section section-padding bg-cover bg-center bg-parallax dark-overlay dark-overlay-2"
  style="background-image: url('assets/img/subheader-2.jpg')">
  <div class="container">
    <div class="section-title-wrap section-header text-center">
      <h2 class="title text-white">Historia de Éxito</h2>
      <p class="subtitle text-white">
        Nacimos para deleitar tú paladdar
      </p>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="ct-infographic-item">
          <i class="flaticon-employee"></i>
          <h4>33,303</h4>
          <p>Helados Fritos</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="ct-infographic-item">
          <i class="flaticon-pizza-slice"></i>
          <h4>8,854</h4>
          <p>Crepés</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="ct-infographic-item">
          <i class="flaticon-cheese"></i>
          <h4>5,201</h4>
          <p>Waffles</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="ct-infographic-item">
          <i class="flaticon-soda"></i>
          <h4>3,567</h4>
          <p>Clientes Satisfechos</p>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Infographics End -->



<!-- Products Start -->
<div class="section products-section">
  <div class="container">

    <div class="section-title-wrap section-header text-center">
      <h5 class="custom-primary">Tendencias</h5>
      <h2 class="title">Los más pedidos</h2>
      <p class="subtitle">
        Algunos de nuestros productos más solicitados por ustedes, eligelos y personalízalos a tu gusto.
      </p>
    </div>

    <div class="product-slider">

      <!-- Product Start -->
      <div class="product">
        <a class="product-thumb" routerLink='/menu-item-v1'> <img
            src="assets/img/prods/400x400/crepeduo.png" alt="menu item" /> </a>
        <div class="product-body">
          <div class="product-desc">
            <h4> <a routerLink='/menu-item-v1'>Crepe dúo</a> </h4>
            <p>Crepé con manjar, fruta y 1 dulce líquido. Personalizado con los toppings de tu preferencia</p>
            <p class="product-price">S/ 12.00</p>
            <div class="favorite">
              <i class="far fa-heart"></i>
            </div>
          </div>
          <div class="product-controls">
            <!--<a href="#" class="order-item btn-custom btn-sm shadow-none">Ordenar <i class="fas fa-shopping-cart"></i> </a>-->
            <a href="#" class="btn-custom secondary btn-sm shadow-none" data-toggle="modal"
              data-target="#customizeModal"> Perzonalizar <i class="fas fa-plus"></i> </a>
          </div>
        </div>
      </div>
      <!-- Product End -->

      <!-- Product Start -->
      <div class="product">
        <a class="product-thumb" routerLink='/menu-item-v1'> <img
            src="assets/img/prods/400x400/waffleduo.png" alt="menu item" /> </a>
        <div class="product-body">
          <div class="product-desc">
            <h4> <a routerLink='/menu-item-v1'>Waffle Dúo</a> </h4>
            <p>Waffle con 2 frutas y 1 dulce líquido, <strong>por defecto incluye banana, fresa y fudge</strong></p>
            <p class="product-price">S/ 13.50</p>
            <div class="favorite">
              <i class="far fa-heart"></i>
            </div>
          </div>
          <div class="product-controls">
            <a href="#" class="order-item btn-custom btn-sm shadow-none">Ordernar <i class="fas fa-shopping-cart"></i>
            </a>
            <a href="#" class="btn-custom secondary btn-sm shadow-none" data-toggle="modal"
              data-target="#customizeModal"> Customize <i class="fas fa-plus"></i> </a>
          </div>
        </div>
      </div>
      <!-- Product End -->

      <!-- Product Start -->
      <div class="product">
        <a class="product-thumb" routerLink='/menu-item-v1'> <img
            src="assets/img/prods/400x400/milshakenutella.png" alt="menu item" /> </a>
        <div class="product-body">
          <div class="product-desc">
            <h4> <a routerLink='/menu-item-v1'>Milkshakes</a> </h4>
            <p>Batidos hechos a base de helado, leche y el sabor de tu preferencia.</p>
            <p class="product-price">S/ 15.00</p>
            <div class="favorite">
              <i class="far fa-heart"></i>
            </div>
          </div>
          <div class="product-controls">
            <a href="#" class="order-item btn-custom btn-sm shadow-none">Order <i class="fas fa-shopping-cart"></i> </a>
            <a href="#" class="btn-custom secondary btn-sm shadow-none" data-toggle="modal"
              data-target="#customizeModal"> Customize <i class="fas fa-plus"></i> </a>
          </div>
        </div>
      </div>
      <!-- Product End -->

      <!-- Product Start -->
      <div class="product">
        <a class="product-thumb" routerLink='/menu-item-v1'> <img src="assets/img/prods-sm/4.png" alt="menu item" />
        </a>
        <div class="product-body">
          <div class="product-desc">
            <h4> <a routerLink='/menu-item-v1'>Barbeque Chicken</a> </h4>
            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica,
              sport etc</p>
            <p class="product-price">11.99$</p>
            <div class="favorite">
              <i class="far fa-heart"></i>
            </div>
          </div>
          <div class="product-controls">
            <a href="#" class="order-item btn-custom btn-sm shadow-none">Order <i class="fas fa-shopping-cart"></i> </a>
            <a href="#" class="btn-custom secondary btn-sm shadow-none" data-toggle="modal"
              data-target="#customizeModal"> Customize <i class="fas fa-plus"></i> </a>
          </div>
        </div>
      </div>
      <!-- Product End -->

    </div>

    <div class="ct-arrows centered-arrows">
      <i class="slider-prev fas fa-arrow-left slick-arrow"></i>
      <i class="slider-next fas fa-arrow-right slick-arrow"></i>
    </div>

  </div>
</div>
<!-- Products End -->

<!-- Order Online Start -->
<div class="container">
  <div class="section text-center cta bg-cover bg-center dark-overlay dark-overlay-2 bg-parallax"
    style="background-image: url('assets/img/especificos/cupon-min.png')">
    <div class="section-title-wrap section-header text-center">
      <h5 class="custom-primary">Cupones</h5>
      <h2 class="title text-white">Aplica esta cupón en tu compra</h2>
      <p class="subtitle text-white">
        Utiliza el código ICO2020 en tu compra y adquiera el 25% de descuento válido para compras por nuestra web.
      </p>
    </div>
    <a routerLink='/menu-v1' class="btn-custom shadow-none">Order Online</a>
  </div>
</div>
<!-- Order Online End -->



<!-- Instagram Start -->
<div class="row no-gutters">
  <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
    <a href="#" class="ct-ig-item">
      <img src="assets/img/especificos/ins1.png" alt="ig">
    </a>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
    <a href="#" class="ct-ig-item">
      <img src="assets/img/especificos/ins2.png" alt="ig">
    </a>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
    <a href="#" class="ct-ig-item">
      <img src="assets/img/especificos/ins3.png" alt="ig">
    </a>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
    <a href="#" class="ct-ig-item">
      <img src="assets/img/especificos/ins4.png" alt="ig">
    </a>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
    <a href="#" class="ct-ig-item">
      <img src="assets/img/especificos/ins5.png" alt="ig">
    </a>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
    <a href="#" class="ct-ig-item">
      <img src="assets/img/especificos/ins6.png" alt="ig">
    </a>
  </div>
</div>
<!-- Instagram End -->